{% extends 'base.html.twig' %}


{% block body %}

    <script src="https://cdn.ckeditor.com/4.11.4/full-all/ckeditor.js"></script>

    <div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Ajouter une réponse </h3>
    </div>
  {#  <strong>Sujet </strong> :{{ tab.getsujet }}#}
    </div>
<br>
    <div class="box-body pad">
    <label class="text-muted"> Titre </label>
    <div class="form-control" disabled="disabled"> {{ tab.gettitre }} </div>
<br>
    <label class="text-muted" id="ckeditor"> Description </label>
   <div class="form-control" disabled="disabled"> {{ tab.gettext |raw}}</div>
<br>
    </div>
{{ form_start(form) }}


    <div class="box-body pad">

    <div class="form-group">

        <label class="text-muted"> Réponse </label>

        {{
        form_widget(form.text,{'attr' : {'class' : 'form-control', 'rows':'5','id':'editor1','name':' editor1',
                'placeholder': 'Enter ...'}})
        }}
    </div>
    </div>

<br>
    <br>

        {{ form_widget(form.Valider , {'attr' : {'class' : 'btn btn-block btn-danger','style':'width: 12%;'}}) }}

<br>

{{ form_end(form) }}

    <script>
        CKEDITOR.replace( 'editor1' );
    </script>

{% endblock %}