{% extends 'base.html.twig' %}
{% block body %}
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Ajouter une nouvelle question </h3>
        </div>

    <div class="box-body">
    {{ form_start(form) }}

    <div class="form-group">
    <label class="text-muted">Sujet :</label>
        {{ form_widget(form.sujet,{'attr':{'class':'form-control'}}) }}
    </div>

    <div class="form-group">
        <label class="text-muted">Titre </label>
        {{
        form_widget(form.titre, {'attr' : {'class' : 'form-control', 'rows':'1',
            'placeholder': 'Enter ...'}})
        }}

    </div>
    <div class="form-group">
    <label class="text-muted">Description detaillée de la question </label>
    {{
    form_widget(form.text, {'attr' : {'class' : 'form-control', 'rows':'3',
        'placeholder': 'Enter ...'}})
    }}
    </div>
        <div class="form-group">
            {{
            form_widget(form.file)
            }}
        </div>
        <br/>
        <br/>
        <div class="form-group">
            {{
            form_widget(form.Valider, {'attr' : {'class' : 'btn btn-block btn-danger btn-lg','style':'width: 18%;'}})
            }}
        </div>


    <br>

    {{ form_end(form) }}


</div>

</div>

{% endblock %}