<!DOCTYPE html>
<html lang="en">
<head>
    <title>Happy Olds - Connexion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/css/login-main.css') }}">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url( {{ asset('Login_v13/images/bg-02.jpg')}} );">
            <div class="register-overlay"></div>
            <div class="mainBody p-l-100 p-t-200">
                <div class="mainBody-overlay">
                    <div class="register-logo">
                        <a href="{{ path('happy_olds_main_register') }}" class="application-name"><b>Happy</b> Olds</a>
                        <p class="application-description">A text describing our application and it's purposes. But well, I don't know what to write so i'm writing everything that comes through my mind.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="wrap-login100">
            <form class="login100-form validate-form" method="POST" action="{{ path('happy_olds_main_homepage') }}">
					<span class="login100-form-title p-b-59">
                     Se connecter
                </span>

                <div class="wrap-input100 validate-input" data-validate="Nom d'utilisateur requis">
                    <span class="label-input100">Nom d'utilisateur</span>
                    <input class="input100" type="text" name="username" placeholder="Nom d'utilisateur...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Mot de passe requis">
                    <span class="label-input100">Mot de passe</span>
                    <input class="input100" type="password" name="pass" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Se connecter
                        </button>
                    </div>

                    <a href="{{ path('happy_olds_main_register') }}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        S'inscrire
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('Login_v13/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/daterangepicker/moment.min.js') }}"></script>
<script src="{{ asset('Login_v13/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/js/main.js') }}"></script>

</body>
</html>