<!DOCTYPE html>
{% trans_default_domain 'FOSUserBundle' %}

<html lang="en">
<head>
    <title>Happy Olds - Inscription</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/vendor/js-datepicker/bootstrap-datepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Login_v13/css/register-main.css') }}">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url( {{ asset('Login_v13/images/bg-02.jpg')}} );">
            <div class="register-overlay"></div>
            <div class="mainBody p-l-100 p-t-200">
                <div class="mainBody-overlay">
                    <div class="register-logo">
                        <a href="{{ path('happy_olds_main_page') }}" class="application-name"><b>Happy</b> Olds</a>
                        <p class="application-description">Happy Olds propose des services adaptés à chaque personne âgée. Elle s'attache ainsi à préserver, voire à restaurer l'autonomie de la personne et ainsi contribuer au maintien d'une vie sociale. Découvrez les différents services de notre application aujourd'hui accessibles.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="wrap-login100">
            {{ form_start(form, {'method': 'post', 'action': path('happy_olds_main_register'), 'attr': {'class': 'fos_user_registration_register login100-form validate-form'}}) }}
            {#<form class="login100-form validate-form" method="POST" action="{{ path('happy_olds_main_homepage') }}">#}
                <span class="login100-form-title p-b-59">
                    S'inscrire
                </span>

                <div class="wrap-input100 validate-input" data-validate="Nom requis">
                    <span class="label-input100">Nom</span>
                    {{
                        form_widget(form.nom, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_nom',
                            'name' : 'fos_user_registration_form[nom]', 'placeholder': 'Nom...'}})
                    }}
                    {#<input class="input100" type="text" id="fos_user_registration_form_nom" name="fos_user_registration_form[nom]" placeholder="Nom...">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Prénom requis">
                    <span class="label-input100">Prénom</span>
                    {{
                        form_widget(form.prenom, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_prenom',
                            'name' : 'fos_user_registration_form[prenom]', 'placeholder': 'Prénom...'}})
                    }}
                    {#<input class="input100" type="text" id="fos_user_registration_form_prenom" name="fos_user_registration_form[prenom]" placeholder="Prenom...">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Date de naissance requise">
                    <span class="label-input100">Date de naissance</span>
                    {{
                    form_widget(form.date_naissance, {'attr' : {'class' : 'input100 js-datepicker', 'id' : 'fos_user_registration_form_date_naissance',
                        'name' : 'fos_user_registration_form[date_naissance]', 'placeholder': 'Date de naissance...'}})
                    }}
                    {#<input class="input100" type="text" id="fos_user_registration_form_prenom" name="fos_user_registration_form[prenom]" placeholder="Prenom...">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">Travail</span>
                    {{
                    form_widget(form.job, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_job',
                        'name' : 'fos_user_registration_form[job]', 'placeholder': 'Travail...'}})
                    }}
                    {#<input class="input100" type="text" name="email" placeholder="Adresse email...">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">Status</span>
                    {{
                    form_widget(form.role, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_role',
                        'name' : 'fos_user_registration_form[role]', 'placeholder': 'Status...'}})
                    }}
                    {#<input class="input100" type="text" name="email" placeholder="Adresse email...">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Email valide requis: ex@abc.xyz">
                    <span class="label-input100">Email</span>
                    {{
                        form_widget(form.email, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_email',
                            'name' : 'fos_user_registration_form[email]', 'placeholder': 'Adresse email...'}})
                    }}
                    {#<input class="input100" type="text" name="email" placeholder="Adresse email...">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Nom d'utilisateur requis">
                    <span class="label-input100">Nom d'utilisateur</span>
                    {{
                        form_widget(form.username, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_username',
                            'name' : 'fos_user_registration_form[username]', 'placeholder': 'Nom d\'utilisateur...'}})
                    }}
                    {#<input class="input100" type="text" name="username" placeholder="Nom d'utilisateur...">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Mot de passe requis">
                    <span class="label-input100">Mot de passe</span>
                    {{
                        form_widget(form.plainPassword.first, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_password',
                            'name' : 'fos_user_registration_form[password]', 'placeholder': '*************'}})
                    }}
                    {#<input class="input100" type="password" name="pass" placeholder="*************">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Comfirmation mot de passe requis">
                    <span class="label-input100">Confirmation mot de passe</span>
                    {{
                    form_widget(form.plainPassword.second, {'attr' : {'class' : 'input100', 'id' : 'fos_user_registration_form_password_confirmation',
                        'name' : 'fos_user_registration_form[password_confirmation]', 'placeholder': '*************'}})
                    }}
                    {#<input class="input100" type="password" name="repeat-pass" placeholder="*************">#}
                    <span class="focus-input100"></span>
                </div>


            <!--
                <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox" data-validate = "champ requis">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                                <span class="txt1">
                                    J'accepte les
                                    <a href="#" class="txt2 hov1">
                                        termes et conditions
                                    </a>
                                </span>
                        </label>
                    </div>


                </div>-->


                {% if error %}
                    <div style="color: red"><h5>{{ error }}</h5></div>
                    <br><br>
                {% endif %}


                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            S'inscrire
                        </button>
                    </div>

                    <a href="{{ path('happy_olds_main_login') }}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Se connecter
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            {{ form_end(form) }}
            {#</form>#}
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('Login_v13/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/daterangepicker/moment.min.js') }}"></script>
<script src="{{ asset('Login_v13/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/js-datepicker/bootstrap-datepicker.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('Login_v13/js/main.js') }}"></script>

</body>
</html>