{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaireservices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaireService in commentaireServices %}
            <tr>
                <td><a href="{{ path('services_commentaire_show', { 'id': commentaireService.id }) }}">{{ commentaireService.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('services_commentaire_show', { 'id': commentaireService.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('services_commentaire_edit', { 'id': commentaireService.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('services_commentaire_new') }}">Create a new commentaireService</a>
        </li>
    </ul>
{% endblock %}
