{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('ChatRoom/css/utils.css') }}" rel="stylesheet">
    <link href="{{ asset('bower_components/wdt-emoji-bundle/wdt-emoji-bundle.css') }}" rel="stylesheet">
    <link href="{{ asset('ChatRoom/css/publication_consult.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            Modifier Publication
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('chat_room_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li><a href="{{ path('chat_room_group_list') }}"> Groupes</a></li>
            <li><a href="{{ path('chat_room_group_consult',{'id': publication.groupe.id }) }}"> Groupe: {{ publication.groupe.titre }}</a></li>
            <li><a href="{{ path('chat_room_publication_consult',{'id': publication.id }) }}"> Publication</a></li>
            <li class="active"> Modifier publication</li>
        </ol>
    </section>
    <section class="content">
        <br>

        <div class="box box-widget" style="width: 75%;left: 13%;">
            {{ form_start(form,{'action': path('chat_room_publication_update',{'id':publication.id}), 'method': 'POST'}) }}
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" src="{{ asset(app.user.webPath) }}" alt="User Image">
                    <span class="username">Modifier une publication</span>
                    {#<span class="description">publié le {{p.datePublication | date('Y-m-d h:m:s')  }}</span>#}
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- post text -->
                <p id="publication-preview" class="with-emotes">{{ publication.description }}</p>
                {{ form_widget(form.description, {'id':'new-publication','attr': {'class':'form-control wdt-emoji-open-on-colon using-emoji publication-input','placeholder':'Press enter to post publication','rows':'3'}}) }}
            </div>

            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-left">Modifier la pièce jointe: ({{ publication.pieceJointe.realName }}) {{ form_widget(form.pieceJointe) }}</div> {{ form_widget(form.valider,{ 'label': 'Modifier','attr': {'class': 'btn btn-default btn bg-aqua pull-right'} }) }}
            </div>
            {{ form_end(form) }}
            <!-- /.box-footer -->
        </div>

    </section>
    <div class="wdt-emoji-popup">
        <a href="#" class="wdt-emoji-popup-mobile-closer"> × </a>
        <div class="wdt-emoji-menu-content">
            <div id="wdt-emoji-menu-header">
                <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
                <a class="wdt-emoji-tab" data-group-name="People"></a>
                <a class="wdt-emoji-tab" data-group-name="Nature"></a>
                <a class="wdt-emoji-tab" data-group-name="Foods"></a>
                <a class="wdt-emoji-tab" data-group-name="Activity"></a>
                <a class="wdt-emoji-tab" data-group-name="Places"></a>
                <a class="wdt-emoji-tab" data-group-name="Objects"></a>
                <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
                <a class="wdt-emoji-tab" data-group-name="Flags"></a>
                <a class="wdt-emoji-tab" data-group-name="Custom"></a>
            </div>
            <div class="wdt-emoji-scroll-wrapper">
                <div id="wdt-emoji-menu-items">
                    <input id="wdt-emoji-search" type="text" placeholder="Search">
                    <h3 id="wdt-emoji-search-result-title">Search Results</h3>
                    <div class="wdt-emoji-sections"></div>
                    <div id="wdt-emoji-no-result">No emoji found</div>
                </div>
            </div>
            <div id="wdt-emoji-footer">
                <div id="wdt-emoji-preview">
                    <span id="wdt-emoji-preview-img"></span>
                    <div id="wdt-emoji-preview-text">
                        <span id="wdt-emoji-preview-name"></span><br>
                        <span id="wdt-emoji-preview-aliases"></span>
                    </div>
                </div>
                <div id="wdt-emoji-preview-bundle">
                    <span>WDT Emoji Bundle</span>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    <div data-twig="{{ data | json_encode | e('html_attr') }}" id="data_twig"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('bower_components/wdt-emoji-bundle/emoji.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/wdt-emoji-bundle/wdt-emoji-bundle.min.js') }}"></script>
    <script>
        wdtEmojiBundle.defaults.emojiSheets.apple = "{{ asset('bower_components/wdt-emoji-bundle/sheets/sheet_apple_64_indexed_128.png') }}";
    </script>
    <script src="{{ asset('ChatRoom/js/utils.js') }}"></script>
    <script src="{{ asset('ChatRoom/js/groupe/publication_groupe/update.js') }}"></script>

{% endblock %}