{% extends 'base.html.twig' %}

{% block body %}
    <h1>Services list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('services_show', { 'id': service.id }) }}">{{ service.id }}</a></td>
                <td>{{ service.description }}</td>
                <td>{% if service.date %}{{ service.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ service.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('services_show', { 'id': service.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('services_edit', { 'id': service.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('services_new') }}">Create a new service</a>
        </li>
    </ul>
{% endblock %}
