{% extends 'base.html.twig' %}

{% block body %}

    <div class="box box-warning" style="margin-left: 14%;border-top-color: #b8b4af;width: 75%;">
        <div class="box-header with-border">
            <h3 class="text-muted"> Demander un Service </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {{ form_start(form) }}
            <div class="form-group">
                <label class="text-muted">Type de service</label>
                {{ form_widget(form.type,{'attr':{'class':'form-control'}}) }}
            </div>

            <div class="form-group">
                <label class="text-muted">Description detaillée de service </label>
            {{
            form_widget(form.description, {'attr' : {'class' : 'form-control', 'rows':'3',
                 'placeholder': 'Enter ...'}})
            }}
            </div>
            <div class="form-group">
                <label class="text-muted">Choisir la date et l'heure de (Livraison,Couvoiturage,Autre) </label>
                {{
                form_widget(form.date, {'attr' : {'style' : 'display: -webkit-box'}})
                }}
            </div>
            <br/>
            <br/>
            <br/>
            <div class="form-group">
                {{
                form_widget(form.Publier, {'attr' : {'class' : 'btn btn-block btn-danger btn-lg','style':'width: 18%;'}})
                }}
            </div>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
{% block scripts %}

{% endblock %}