{% extends 'base.html.twig' %}
{% block body %}
 {% for service in services %}
     <div class="box box-widget" style="width: 50%;left: 26%;">
         <div class="box-header with-border">
             <div class="user-block">
                 {% if(service.user.WebPath != null) %}
                     <img src="{{ asset(service.user.WebPath) }}" class="img-circle" alt="User Image">
                 {% else %}
                     <img src="{{ asset('dist/img/default-avatar.png') }}" class="img-circle" alt="User Image">
                 {% endif %}
                 <span class="username"><a href="#">{{ service.user.Username }}</a></span>
                 <span class="description">publié le  {{service.date|date('Y-m-d h:m:s')  }}</span>
             </div>
             <!-- /.user-block -->
             <div class="box-tools">
                 <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                     <i class="fa fa-circle-o"></i></button>
                 <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                 </button>
                 <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
             <!-- /.box-tools -->
         </div>
         <!-- /.box-header -->
         <div class="box-body">
             <!-- post text -->
             <p>{{ service.description }}</p>



             <!-- Attachment -->
             <div class="attachment-block clearfix">

                 <iframe  width="100%"
                          height="300"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBoVSG3FplX2Ckbl672m4HWjnKK4WS5j2w&q={{ service.getUser().getVille() }}" >
                 </iframe>
                 <!-- /.attachment-pushed -->
             </div>
             {% if service.userAssocie == null %}
                {% set test = 'false' %}
                {% set nbCondidat=0 %}
                {% for p in service.postuler %}
                    {% set nbCondidat = nbCondidat + 1 %}
                    {% if p.getUser().getId()  == user.id%}
                         <h4 class="btn btn-default btn-xs" href=""><i class="fa fa-share"></i> Vous avez déjà postulé à ce service </h4>
                        {% set test = 'true' %}
                    {% endif %}
                {% endfor %}
                {% if service.getUser().getId() == user.id %}
                     {% set test = 'true' %}
                    <a class="btn btn-default btn bg-olive btn-xs" href="{{ path('services_edit',{'id':service.id}) }}"><i class="fa fa-share"></i> Modifier </a>

                    <a class="btn  btn-default  btn-xs" style="background-color:#3c8dbc;color:#fff; " href="{{ path('services_delete',{'id':service.id}) }}"><i class="fa fa-trash"></i> Supprimer </a>

                {% endif %}
                {% if test=='false' and 'JEUNE' in user.getRole() %}
                     <a class="btn btn-default btn-xs" href="{{ path('services_postuler',{'id':service.id}) }}"><i class="fa fa-share"></i> Postuler</a>
                 {% endif %}
             <!-- /.attachment-block -->
                 <!-- Social sharing buttons -->
                {% if service.getUser().getId() == user.id %}
                    <span class="pull-right text-muted" style="margin-left: 3px;">   {{ nbCondidat }} condidateure/s  </span>
                {% if nbCondidat > 0 %}
                    <span class="pull-right text-muted" style="margin-left: 3px;"> <a href="{{ path('services_condidat',{'id':service.id}) }}">  | List condidats | </a> </span>
                 {% endif %}
                    <span class="pull-right text-muted" style="margin-left: 3px;">  {{ service.commentaires|length }} comments </span>
                {% else %}
                    <span class="pull-right text-muted" style="margin-left: 3px;"> {{ service.commentaires|length }} comments</span>
                {% endif %}
             {% elseif service.getUser().getId() == user.id and service.valider == null %}
                 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Noté {{ service.userAssocie.prenom }} {{ service.userAssocie.nom }}</button>
                 <span class="pull-right text-muted" style="margin-left: 3px;"> {{ service.commentaires|length }}  comments</span>
                 <!-- Modal -->
                 <div id="myModal" class="modal fade" role="dialog">
                     <div class="modal-dialog">

                         <!-- Modal content-->
                         <div class="modal-content" style="position: absolute;    margin-left: -48px;">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">Evaluation</h4>
                             </div>
                             <div class="modal-body">
                                 <p>Avez-vous apprécié la prestation du {{ service.userAssocie.prenom }} {{ service.userAssocie.nom }} ? </p>
                                 <table>
                                     <tr>
                                         <th><a href="{{ path('services_Eval',{'id':1,'idService':service.id,'iduser':service.userAssocie.id}) }}"><p style="font-size:100px;margin: 3px 24px 10px;">&#128532;</p></a></th>
                                         <th><a href="{{ path('services_Eval',{'id':2,'idService':service.id,'iduser':service.userAssocie.id}) }}"><p style="font-size:100px;margin: 3px 24px 10px;">&#128527;</p></a></th>
                                         <th><a href="{{ path('services_Eval',{'id':3,'idService':service.id,'iduser':service.userAssocie.id}) }}"><p style="font-size:100px;margin: 3px 24px 10px;">&#128522;</p></a></th>
                                         <th><a href="{{ path('services_Eval',{'id':4,'idService':service.id,'iduser':service.userAssocie.id}) }}"><p style="font-size:100px;margin: 3px 24px 10px;">&#128516;</p></a></th>
                                     </tr>
                                     <tr>
                                         <td><p style="text-align: center">Insuffisant</p></td>
                                         <td><p style="text-align: center">Moyen</p></td>
                                         <td><p style="text-align: center">Bon</p></td>
                                         <td><p style="text-align: center">Excellent</p></td>
                                     </tr>
                                 </table>


                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             </div>
                         </div>

                     </div>
                 </div>
             {% else %}
                <span class="pull-right text-muted" style="margin-left: 3px;">{{ service.commentaires|length }} comments</span>
             {% endif %}

         </div>

         <!-- /.box-body -->
         <div class="box-footer box-comments">
             {% for c in service.commentaires %}
             <div class="box-comment">
                 <!-- User image -->
                 {% if(c.user.WebPath != null) %}
                     <img  src="{{ asset(c.user.WebPath) }}" class="img-circle img-sm" alt="User Image">
                 {% else %}
                     <img src="{{ asset('dist/img/default-avatar.png') }}" class="img-circle img-sm" alt="User Image">
                 {% endif %}

                 <div class="comment-text">
                      <span class="username">
                        {{ c.user.username }}
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                     {{ c.texte }}
                 </div>
                 <!-- /.comment-text -->
             </div>
             <!-- /.box-comment -->
             <!-- /.box-comment -->
             {% endfor %}
         </div>
         <!-- /.box-footer -->
         <div class="box-footer">
             <form action="{{ path('commentaire',{'idservice':service.id}) }}" method="post">

                 {% if(app.user.WebPath != null) %}
                     <img src="{{ asset(app.user.WebPath) }}" class="img-responsive img-circle img-sm" alt="Alt Text">
                 {% else %}
                     <img src="{{ asset('dist/img/default-avatar.png') }}" class="img-responsive img-circle img-sm" alt="Alt Text">
                 {% endif %}
                 <!-- .img-push is used to add margin to elements next to floating images -->
                 <div class="img-push">
                     <input type="text"  name="commentaire" class="form-control input-sm" placeholder="Press enter to post comment">

                 </div>
             </form>
         </div>
         <!-- /.box-footer -->
     </div>
 {% endfor %}
{% endblock %}

