{% extends 'baseadmin.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('ChatRoom/css/utils.css') }}" rel="stylesheet">
    <link href="{{ asset('ChatRoom/css/admin.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            Divertissement
            <small>publications</small>
        </h1>

    </section>
    <section class="content">
        <div class="box">

            <div class="box-header">
                <br>
                Texte: {{ publication.description }}<br>
                Publié par: {{ publication.user.fullname }}<br>
                Pièce jointe: {% if publication.pieceJointe is not null %}<a href="{{ asset(publication.pieceJointe.webPath) }}" target="_blank">{{ publication.pieceJointe.realName }}</a>{% endif %}<br>
                Publié le: {{ publication.datePublication | date('d/m/Y H:i:s') }}<br>
                Publié dans le groupe: <a href="{{ path('chat_room_admin_group_consult',{'id':publication.groupe.id}) }}" target="_blank">{{ publication.groupe.titre }}</a><br>
                <br>
                <hr>

                <h3 class="box-title">Liste des commentaires</h3>
                <div class="col-sm-4 pull-right">
                    <div id="filter_box">
                        <form action="{{ path('chat_room_admin_publications') }}">
                            <div class="input-group">
                                <input name="filter" type="text" class="form-control input-sm" placeholder="Texte du commentaire" value="{{ filter }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr role="row">
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                        <th{% if pagination.isSorted('p.texte') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Texte', 'c.texte') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Commenté par', 'c.user.fullname') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Date du commentaire', 'c.dateCommentaire') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Publication', 'c.publication.description') }}</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                    {% for commentaire in pagination %}
                        <tr {% if loop.index is odd %}class="odd"{% else %}class="even"{% endif %}>
                            <td>{{ commentaire.id }}</td>
                            <td>{{ commentaire.texte }}</td>
                            <td>{{ commentaire.user.fullName }}</td>
                            <td>{{ commentaire.dateCommentaire | date('d/m/Y H:i:s') }}</td>
                            <td><a href="{{ path('chat_room_admin_publication_consult',{'id':commentaire.publication.id}) }}" target="_blank">{{ commentaire.publication.description }}</a></td>
                            <td>
                                <a href="{{ path('chat_room_admin_commentaire_delete',{'id':commentaire.id}) }}" class="btn btn-sm btn-danger glyphicon glyphicon-trash"> </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="col-sm-5">
                    <div class="dataTables_info">Affichage: {% if pagination.totalItemCount > 1 %}{{ (pagination.currentPageNumber -1) * pagination.itemNumberPerPage +1 }}{% else %}0{% endif %} jusqu'à {% if pagination.totalItemCount > (pagination.currentPageNumber * pagination.itemNumberPerPage) %}{{ pagination.currentPageNumber * pagination.itemNumberPerPage }}{% else %}{{ pagination.totalItemCount }}{% endif %} de {{ pagination.totalItemCount }} commentaires</div>
                </div>
                <div class="col-sm-7">
                    <div class="navigation">
                        <center>
                            {{ knp_pagination_render(pagination) }}
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div data-twig="{{ data | json_encode | e('html_attr') }}" id="data_twig"></div>
    </section>

{% endblock %}
{% block scripts %}
    <script src="{{ asset('ChatRoom/js/utils.js') }}"></script>
    <script src="{{ asset('ChatRoom/js/admin.js') }}"></script>
{% endblock %}