{% extends 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" type="text/css" href="AdminLTE.css" />
<div class="col-md-3">

    <!-- Profile Image -->
    <div class="box box-danger">
        <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="Photo de profil de l'utilisateur">
                <h3 class="profile-username text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <p> {{ app.user.nom }} {{ app.user.prenom }}</p> </font></font></h3>
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href={{ path('event_index') }}/>
                    Tout les événements</li>
                <li class="list-group-item">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href={{ path('event_venir') }}/>
                    Avenir</li>
                <li class="list-group-item">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href={{ path('event_affiche') }}/>
                    Mes événements</li>
                <li class="list-group-item">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href={{ path('event_index') }}/>
                    Voter pour les événements
                </li>
                <li class="list-group-item">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><a href={{ path('event_index') }}/>
                    Statistiques</li>
            </ul>
        </div></div></div>
<div class="col-md-9">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1 class="title">Ajouter un nouveau évenement</h1></font></font></h3>
        </div>



        <h5 align="right"><a href="{{ path('event_index') }}">Retour à la liste</a></h5>


    {{ form_start(form) }}
        <table align="center" border="0" width="75%" >
            <thead>
            <tr><th>Titre</th><td>{{ form_widget(form.titre) }}</td></tr>
            <tr><th size="x-large">Description</th><td>{{ form_widget(form.description) }}</td></tr>
            <tr><th>Nombre participant</th><td>{{ form_widget(form.nbrParticipant) }}</td></tr>
            <tr><th>Date de début</th><td>{{ form_widget(form.dateDebut) }}</td></tr>
            <tr><th>Date de fin</th><td>{{ form_widget(form.dateFin) }}</td></tr>
            <tr><th>Privilége</th><td>{{ form_widget(form.privilege) }}</td></tr>
            <tr><th>Actions<th><td> id_user = {{ app.user.id }}</td>
            <tr>
<br><br>
        <tr><td></td><td align="center">{{ form_widget(form) }}
        <input type="submit" value="Create" />
           </td></tr>
            </thead>
        </table>
    {{ form_end(form) }}

    </div></div></div>
{% endblock %}
