{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('ChatRoom/css/utils.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            Ajouter
            <small>groupe</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('chat_room_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li><a href="{{ path('chat_room_group_list') }}"> Groupes</a></li>
            <li class="active"> Ajouter</li>
        </ol>
    </section>
    <section class="content">
        <br>

        <div class="box box-widget">
            <div class="box-header with-border">
                <div>
                    <h3 class="box-title">Ajouter un groupe</h3>
                </div>
            </div>
            <div class="box-body">
                {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                <div class="form-group">
                    <label for="titre" class="col-sm-2 control-label">Titre</label>

                    <div class="col-sm-10">
                        {{ form_widget(form.titre,{'attr':{'class':'form-control','placeholder':'Titre','id':'titre'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>

                    <div class="col-sm-10">
                        {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':'Description','id':'description'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">Type</label>

                    <div class="col-sm-10">
                        {{ form_widget(form.type,{'attr':{'class':'form-control','id':'type'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="sujet" class="col-sm-2 control-label">Sujet</label>

                    <div class="col-sm-10">
                        {{ form_widget(form.sujet,{'attr':{'class':'form-control','id':'sujet'}}) }}
                    </div>
                </div>
                <div class="box-footer">
                    {{ form_widget(form.valider,{ 'label': 'Ajouter' ,'attr':{'class':'btn btn-info pull-right'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        {#
        {{ form_start(form) }}
        <table>
            <tr>
                <td>Titre: </td>
                <td>{{ form_widget(form.titre) }}</td>
            </tr>
            <tr>
                <td>Description: </td>
                <td> {{ form_widget(form.description) }}</td>
            </tr>
            <tr>
                <td>Type: </td>
                <td>{{ form_widget(form.type) }}</td>
            </tr>
            <tr>
                <td>Sujet: </td>
                <td>{{ form_widget(form.sujet) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form_widget(form.valider,{ 'label': 'Ajouter' }) }}</td>
            </tr>
        </table>
        {{ form_end(form) }}
        #}
        <div data-twig="{{ data | json_encode | e('html_attr') }}" id="data_twig"></div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('ChatRoom/js/utils.js') }}"></script>
    <script src="{{ asset('ChatRoom/js/groupe/add.js') }}"></script>
{% endblock %}