{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block body %}

    <div data-twig="{{ data | json_encode | e('html_attr') }}" id="data_twig"></div>

    {{ form_start(form) }}
    <table>
        <tr>
            <td>Titre: </td>
            <td>{{ form_widget(form.titre) }}</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td> {{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <td>Type: </td>
            <td>{{ form_widget(form.type) }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.valider,{ 'label': 'Ajouter' }) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}

{% endblock %}
{% block scripts %}
    <script src="{{ asset('ChatRoom/js/utils.js') }}"></script>
    <script src="{{ asset('ChatRoom/js/groupe/add.js') }}"></script>
{% endblock %}