{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('ChatRoom/css/utils.css') }}" rel="stylesheet">
    <link href="{{ asset('bower_components/wdt-emoji-bundle/wdt-emoji-bundle.css') }}" rel="stylesheet">
    <link href="{{ asset('ChatRoom/css/publication_consult.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            Consultation
            <small>groupe: {{ groupe.titre }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('chat_room_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li><a href="{{ path('chat_room_group_list') }}"> Groupes</a></li>
            <li class="active"> Consultation</li>
        </ol>
    </section>
    <section class="content">
        <br>
        Description: {{ groupe.description }}<br>
        Type: {{ groupe.type }}<br>
        Sujet {{ groupe.sujet.label }}<br>
        Créateur: {{ groupe.creator.prenom }} {{ groupe.creator.nom }}<br>
        <br>
        {% set member_count = 0 %}
        {% set banned_count = 0 %}
        {% set to_authorize_count = 0 %}
        {% for m in groupe.members %}
            {% if m.authorized != 1 %}
                {% set to_authorize_count = to_authorize_count + 1 %}
            {% elseif m.banned == 1 %}
                {% set banned_count = banned_count + 1 %}
            {% else %}
                {% set member_count = member_count + 1 %}
            {% endif  %}
        {% endfor %}

        <div class="box">
            {% if app.user.id == groupe.creator.id %}
                {% if invite %}
                    <a class="btn btn-success go-right" href="{{ path('chat_room_member_list_invite',{'groupe_id': groupe.id}) }}"><i class="fa fa-plus"></i> Inviter</a>
                {% endif %}
                <a class="btn btn-warning go-right" href="{{ path('chat_room_group_update',{'id': groupe.id}) }}"><i class="fa fa-cog"></i> Modifier</a>
                <a class="btn btn-danger go-right" href="{{ path('chat_room_group_delete',{'id': groupe.id}) }}"><i class="fa fa-close"></i> Supprimer</a>
            {% elseif join %}
                <a class="btn btn-success go-right" href="{{ path('chat_room_group_join',{'id': groupe.id}) }}"><i class="fa fa-flag"></i> Rejoindre</a>
            {% elseif leave %}
                <a class="btn btn-warning go-right" href="{{ path('chat_room_group_leave',{'id': groupe.id}) }}"><i class="fa fa-flag"></i> Sortir du groupe</a>
            {% endif %}
            <a class="btn btn-info" href="{{ path('chat_room_member_list_members',{'group_id': groupe.id}) }}"><i class="fa fa-group"></i> Membres</a>
            {% if app.user.id == groupe.creator.id %}
                <a class="btn btn-success {% if to_authorize_count == 0 %}disabled{% endif %}" href="{{ path('chat_room_member_list_request',{'group_id': groupe.id}) }}"><i class="fa fa-check"></i> Liste des demandes ({{ to_authorize_count }})</a>
                <a class="btn btn-danger {% if banned_count == 0 %}disabled{% endif %}" href="{{ path('chat_room_member_list_bann',{'group_id': groupe.id}) }}"><i class="fa fa-ban"></i> Liste des bann ({{ banned_count }})</a>
            {% endif %}
        </div>
        <br>
        {% if publish %}
        <h2>Publications</h2>
        {#
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th hidden="true">id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Pièce jointe</th>
                    <th>Date publication</th>
                    <th>Utilisateur</th>
                </tr>
                {% for p in groupe.publications %}
                <tr>
                    <td hidden="true">{{ p.id }}</td>
                    <td>{{ p.titre }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.pieceJointe }}</td>
                    <td>{{ p.datePublication }}</td>
                    <td>{{ p.user.prenom }} {{ p.user.nom }} ({{ p.user.username }})</td>
                </tr>
                {%  endfor %}
            </tbody>
        </table>
        #}

            <div class="box box-widget" style="width: 75%;left: 13%;">
                {{ form_start(form,{'action': path('chat_room_publication_add',{'id':groupe.id}), 'method': 'POST'}) }}
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="{{ asset(app.user.webPath) }}" alt="User Image">
                            <span class="username">Ajouter une publication</span>
                            {#<span class="description">publié le {{p.datePublication | date('Y-m-d h:m:s')  }}</span>#}
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- post text -->
                        <p id="publication-preview" class="with-emotes"></p>
                        {{ form_widget(form.description, {'id':'new-publication','attr': {'class':'form-control wdt-emoji-open-on-colon using-emoji publication-input','placeholder':'Press enter to post publication','rows':'3'}}) }}
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">Ajouter une pièce jointe: {{ form_widget(form.pieceJointe) }}</div> {{ form_widget(form.valider,{ 'label': 'Publier','attr': {'class': 'btn btn-default btn bg-aqua pull-right'} }) }}
                    </div>
                {{ form_end(form) }}
                <!-- /.box-footer -->
            </div>
        {% endif %}
        {% if seePublications %}
            {% for p in groupe.publications | reverse %}
                <div class="box box-widget" style="width: 75%;left: 13%;">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="{{ asset(p.user.webPath) }}" alt="User Image">
                            <span class="username"><a href="#">{{ p.user.nom | upper }} {{ p.user.prenom | capitalize }}</a></span>
                            <span href="{{ path('chat_room_publication_consult',{'id':p.id}) }}" class="description">publié le {{p.datePublication | date('Y-m-d h:m:s')  }}</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <!--
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                                <i class="fa fa-circle-o"></i></button>
                             -->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <!--
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            -->
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- post text -->
                        <p class="with-emotes">{{ p.description }}</p>

                        <!-- Attachment -->
                        {% if not p.pieceJointe is empty and not p.pieceJointe.path is empty %}
                            <div class="attachment-block clearfix">
                                {#
                                <iframe  width="100%"
                                         height="300"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBoVSG3FplX2Ckbl672m4HWjnKK4WS5j2w&q={{ service.getUser().getVille() }}" >
                                </iframe>
                                #}
                                {% if p.pieceJointe.mimeType in ['image/png','image/gif','image/jpeg', 'image/bmp', 'image/webp'] %}
                                    <center>
                                        <img class="publication_img" src="{{ asset(p.pieceJointe.webPath) }}" style="max-width: 100%;height: auto;" alt="{{ p.description }}">
                                    </center>
                                {% elseif p.pieceJointe.mimeType in ['video/mp4','video/webm','video/ogg','video/x-msvideo','video/mpeg'] %}
                                    <center>
                                        <video class="publication_video" style="max-width: 100%;height: auto;" controls>
                                            <source src="{{ asset(p.pieceJointe.webPath) }}" type="{{ p.pieceJointe.mimeType }}">
                                            Your browser does not support the video element.
                                        </video>
                                    </center>
                                {% elseif p.pieceJointe.mimeType in ['audio/mpeg', 'audio/ogg', 'audio/wav'] %}
                                    <center>
                                        <audio controls>
                                            <source src="{{ asset(p.pieceJointe.webPath) }}" type="{{ p.pieceJointe.mimeType }}">
                                        </audio>
                                    </center>
                                {% else %}
                                    <a href="{{ asset(p.pieceJointe.webPath) }}" download="{{ p.pieceJointe.realName }}">Télécharger: {{ p.pieceJointe.realName }}</a>
                                {% endif %}
                                <!-- /.attachment-pushed -->
                            </div>
                        {% endif %}
                        {% if app.user.id == p.user.id %}
                            <a class="btn btn-default btn bg-olive btn-xs" href="{{ path('chat_room_publication_update',{'id': p.id}) }}"><i class="fa fa-share"></i> Modifier </a>
                            <a class="btn  btn-default  btn-xs" style="background-color:#3c8dbc;color:#fff; " href="{{ path('chat_room_publication_delete',{'id': p.id}) }}"><i class="fa fa-trash"></i> Supprimer </a>
                        {% endif %}
                        <!-- /.attachment-block -->
                        <!-- Social sharing buttons -->
                        <a href="{{ path('chat_room_publication_consult',{'id': p.id}) }}" class="pull-right text-muted" style="margin-left: 3px; cursor: pointer;"> <i class="fa fa-comments-o margin-r-5"></i> commentaires (<span id="nb-comments-{{ p.id }}">{{ p.commentaires.count }}</span>)</a>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer box-comments">
                        {% set beginning = 0 %}
                        {% if p.commentaires.count > 5 %}
                            {% set beginning = p.commentaires.count - 5 %}
                        {% endif %}
                        {% for c in p.commentaires[beginning:] %}
                            <div class="box-comment">
                                <!-- User image -->
                                <img class="img-circle img-sm" src="{{ asset(c.user.webPath) }}" alt="User Image">

                                <div class="comment-text">
                              <span class="username">
                                <a href="#">{{ c.user.nom | upper }} {{ c.user.prenom | capitalize }}</a>
                                  <span class="text-muted pull-right">{{ c.dateCommentaire | date('Y-m-d h:m:s') }}</span>
                              </span><!-- /.username -->
                                    <div class="with-emotes">
                                        {{ c.texte }}
                                        {% if app.user.id == c.user.id %}
                                            <a class="btn btn-default  btn-xs pull-right comment_remove" style="background-color:#3c8dbc;color:#fff; " data-id="{{ c.id }}"><i class="fa fa-trash" id="comment_i_{{ c.id }}"></i></a>
                                        {% endif %}
                                    </div>

                                </div>
                                <!-- /.comment-text -->
                            </div>
                            <!-- /.box-comment -->
                            <!-- /.box-comment -->
                        {% endfor %}
                        <!-- for added comments -->
                        <div class="box-comment" id="new-comments-{{ p.id }}" hidden>

                        </div>
                        <div class="box-comment" id="box-comment-{{ p.id }}" hidden>
                            <!-- User image -->
                            <img class="img-circle img-sm" src="{{ asset(app.user.webPath) }}" alt="User Image">

                            <div class="comment-text">
                                <span class="username">
                                    <a href="#">{{ app.user.nom | upper }} {{ app.user.prenom | capitalize }}</a>
                                    <span class="text-muted pull-right">{{ 'now' | date('Y-m-d h:m:s') }}</span>
                                </span><!-- /.username -->
                                <div>
                                    <span id="emoji-preview-{{ p.id }}" class="with-emotes"></span>
                                    <a id="remove-comment-{{ p.id }}" class="btn btn-default btn-xs pull-right"
                                       style="background-color:#3c8dbc;color:#fff; display:none;" href="#"><i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.comment-text -->
                        </div>
                    </div>
                    <!-- /.box-footer -->
                    <div class="box-footer">
                        <form action="#" method="post">
                            <img class="img-responsive img-circle img-sm" src="{{ asset(app.user.webPath) }}" alt="Alt Text">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <input type="text" name="commentaire" data-id="{{ p.id }}" class="form-control input-sm using-emoji comment-input" placeholder="Press enter to post comment">
                            </div>

                        </form>
                    </div>
                    <!-- /.box-footer -->
                </div>
            {% endfor %}
        {% endif %}
    </section>
    <div class="wdt-emoji-popup">
        <a href="#" class="wdt-emoji-popup-mobile-closer"> × </a>
        <div class="wdt-emoji-menu-content">
            <div id="wdt-emoji-menu-header">
                <a class="wdt-emoji-tab active" data-group-name="Recent"></a>
                <a class="wdt-emoji-tab" data-group-name="People"></a>
                <a class="wdt-emoji-tab" data-group-name="Nature"></a>
                <a class="wdt-emoji-tab" data-group-name="Foods"></a>
                <a class="wdt-emoji-tab" data-group-name="Activity"></a>
                <a class="wdt-emoji-tab" data-group-name="Places"></a>
                <a class="wdt-emoji-tab" data-group-name="Objects"></a>
                <a class="wdt-emoji-tab" data-group-name="Symbols"></a>
                <a class="wdt-emoji-tab" data-group-name="Flags"></a>
                <a class="wdt-emoji-tab" data-group-name="Custom"></a>
            </div>
            <div class="wdt-emoji-scroll-wrapper">
                <div id="wdt-emoji-menu-items">
                    <input id="wdt-emoji-search" type="text" placeholder="Search">
                    <h3 id="wdt-emoji-search-result-title">Search Results</h3>
                    <div class="wdt-emoji-sections"></div>
                    <div id="wdt-emoji-no-result">No emoji found</div>
                </div>
            </div>
            <div id="wdt-emoji-footer">
                <div id="wdt-emoji-preview">
                    <span id="wdt-emoji-preview-img"></span>
                    <div id="wdt-emoji-preview-text">
                        <span id="wdt-emoji-preview-name"></span><br>
                        <span id="wdt-emoji-preview-aliases"></span>
                    </div>
                </div>
                <div id="wdt-emoji-preview-bundle">
                    <span>WDT Emoji Bundle</span>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    <div data-twig="{{ data | json_encode | e('html_attr') }}" id="data_twig"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('bower_components/wdt-emoji-bundle/emoji.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/wdt-emoji-bundle/wdt-emoji-bundle.min.js') }}"></script>
    <script>
        wdtEmojiBundle.defaults.emojiSheets.apple = "{{ asset('bower_components/wdt-emoji-bundle/sheets/sheet_apple_64_indexed_128.png') }}";
    </script>
    <script src="{{ asset('ChatRoom/js/utils.js') }}"></script>
    <script src="{{ asset('ChatRoom/js/groupe/consult.js') }}"></script>

{% endblock %}